:root {
  --main-text-color: #434455;
  --main-title-color: #2e2f42;
  --main-background-color: #2e2f42;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Body */

body {
  font-family: "Roboto";
  color: var(--main-text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* .btn {
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
} */

/* Header */
.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.header-logo > span {
  color: #4d5ae5;
}

.header-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
}


.header-contact-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
}
.header-contact-link:hover,
.header-contact-link:focus {
  color: #404bbf;
}

/* Section 1 Effective Solutions for Your Business */
.solutions {
  background: var(--main-title-color);
}
.solutions-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.solution-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
}
.solution-btn:focus,
.solution-btn:hover {
  background: #404bbf;
}

/* Secrtion 2 Main principles */

.priciples {
}
.principles-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.principles-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Section 3 What are we doing */

.what {
}
.what-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
}
.what-list {
}
.what-item {
}

/* Section 4 Our Team */
.team {
}
.team-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
}
.team-list {
}
.list {
}
.team-item {
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.team-position {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

/* Footer section */
.footer {
  color: #e7e9fc;
  width: 1440px;
  height: 310px;
  left: 0px;
  top: 2283px;
  background: #2e2f42;
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: inherit;
}
.footer-logo > span {
  color: #4d5ae5;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.solutions-filter-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
}

.solutions-filter-btn:hover,
.solutions-filter-btn:focus {
    color: #FFFFFF;
    background: #404BBF;
}