:root {
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Body */

body {
  font-family: "Roboto";
  color: #434455;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* .btn {
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
} */

/* Header */
.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.header-logo > span {
  color: #4d5ae5;
}

.header-navigation {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  /* NAVY BLUE */
  color: #2e2f42;
}

.header-contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

/* Section 1 Effective Solutions for Your Business */
.solutions {
  background: #2e2f42;
}
.solutions-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.solution-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #ffffff;
}

/* Secrtion 2 Main principles */

.priciples {
}
.principles-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.20;
    letter-spacing: 0.02em;
  color: #2e2f42;
}
.principles-text {
  font-size: 16px;
  line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Section 3 What are we doing */

.what {
}
.what-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.what-list {
}
.what-item {
}

/* Section 4 Our Team */
.team {
}
.team-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-list {
}
.list {
}
.team-item {
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-position {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer section */
.footer {
  color: #e7e9fc;
  width: 1440px;
  height: 310px;
  left: 0px;
  top: 2283px;
  background: #2e2f42;
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: inherit;
}
.footer-logo > span {
  color: #4d5ae5;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
