:root {
  --primary-brand-color: #4D5AE5;
  --pressed-state-color: #404BBF;
  --dakr-overlays-headings: #2e2f42;
  --body-text-color: #434455;
  --subtle-text-color: #8E8F99;
  --accent-background-color: #E7E9FC;
  --light-bacground-color: #F4F4FD;
  --primary-background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* * {
  color: none;
} */

/* Body */

body {
  font-family: "Roboto", sans-serif;
  color: var(--body-text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}



/* Header */
.header {
  background-color: var(--primary-background-color);
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dakr-overlays-headings);
}
.header-logo > span {
  color: var(--primary-brand-color);
}

.header-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dakr-overlays-headings);
}
.header-link:hover,
.header-link:focus {
  color: var(--pressed-state-color);
}

.header-contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
  text-decoration: none;
}
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--pressed-state-color);
}

/* Section 1 Effective Solutions for Your Business */
.solutions {
  background-color: var(--dakr-overlays-headings);
}
.solutions-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-background-color);
}
.solution-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  color: var(--primary-background-color);
  background-color: var(--primary-brand-color);
  cursor: pointer;
}
.solution-btn:focus,
.solution-btn:hover {
  background-color: var(--pressed-state-color);
}

/* Secrtion 2 Main principles */

.priciples {
  background-color: var(--primary-background-color);
}
.principles-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dakr-overlays-headings);
}
.principles-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Section 3 What are we doing */

.what {
  background-color: var(--primary-background-color);
}
.what-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dakr-overlays-headings);
}

/* Section 4 Our Team */
.team {
   background-color: var(--light-bacground-color);
}
.team-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dakr-overlays-headings);
}

.team-item {
  background-color: var(--primary-background-color);
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dakr-overlays-headings);
}
.team-position {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}

/* Footer section */
.footer {
  color: var(--accent-background-color);
  background-color: var(--dakr-overlays-headings);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: inherit;
}
.footer-logo > span {
  color: var(--primary-brand-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Potrfolio.html */
.solutions-portfolio {
  background-color: var(--primary-background-color);
}

/* Section 1 Filters */
.solutions-filter-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background-color: var(--light-bacground-colorcolor);
  cursor: pointer;
}

.solutions-filter-btn:hover,
.solutions-filter-btn:focus {
  color: var(--primary-background-color);
  background-color: var(--pressed-state-color);
}
/* Subsection 1 cards */

.solutions-result list {
  background-color: var(--primary-background-color);
}
.solution-result-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dakr-overlays-headings);
}

.solution-result-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}
